body {
  font-family: Monospace;
  background-color: #000;
  color: #000;
  margin: 0px;
  overflow: hidden;
}

#info {
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: underline;
  cursor: pointer;
}
